<!doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>About Page</title>
            <link rel="stylesheet" href="/style.css">
        </head>
        <body class="about-body">
            <h1>About</h1>
            <p><img class="about-img" src="https://www.programme-tv.net/imgre/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FTEL.2Enews.2F2018.2F01.2F19.2F21cad914-47b1-4983-8f81-77cfb232bda4.2Ejpeg/1200x600/crop-from/top/quality/80/guerre-et-paix-arte-audrey-hepburn-une-actrice-mythique-photos.jpg" alt="young and old Audrey Hepburn"></p>
            <p>Audrey Hepburn (born Audrey Kathleen Ruston; 4 May 1929 – 20 January 1993) was a British[a] actress and humanitarian. 
                <br> Recognised as both a film and fashion icon, she was ranked by the American Film Institute as the third-greatest female screen legend 
                <br> from the Classical Hollywood cinema and was inducted into the International Best Dressed List Hall of Fame.
                <br> Born in Ixelles, Brussels to an aristocratic family, Hepburn spent parts of her childhood in Belgium, England, and the Netherlands.
                <br> She studied ballet with Sonia Gaskell in Amsterdam beginning in 1945, and with Marie Rambert in London from 1948. 
                <br>She began performing as a chorus girl in West End musical theatre productions and then had minor appearances in several films. 
                <br> She rose to stardom in the romantic comedy Roman Holiday (1953) alongside Gregory Peck, for which she was the first actress to win an Oscar, 
                <br>a Golden Globe Award, and a BAFTA Award for a single performance. That year, she also won a Tony Award for Best Lead Actress in a Play for her performance in Ondine. 
                <br>
                <br>She went on to star in a number of successful films such as Sabrina (1954), in which Humphrey Bogart and William Holden compete for her affection; Funny Face (1957),
                <br> a musical where she sang her own parts; the drama The Nun's Story (1959); the romantic comedy Breakfast at Tiffany's (1961); the thriller-romance Charade (1963), 
                <br> opposite Cary Grant; and the musical My Fair Lady (1964). In 1967 she starred in the thriller Wait Until Dark, receiving Academy Award, Golden Globe, and BAFTA nominations. 
                <br> After that, she only occasionally appeared in films, one being Robin and Marian (1976) with Sean Connery. Her last recorded performances were in the 1990 documentary television 
                <br> series Gardens of the World with Audrey Hepburn for which she won a Primetime Emmy Award for Outstanding Individual Achievement – Informational Programming.
                <br>
                <br>
                <br>Hepburn won three BAFTA Awards for Best British Actress in a Leading Role. In recognition of her film career, she received BAFTA's Lifetime Achievement Award, the Golden Globe 
                <br> Cecil B. DeMille Award, the Screen Actors Guild Life Achievement Award, and the Special Tony Award. She remains one of only seventeen people who have won Academy, Emmy, Grammy, 
                <br> and Tony Awards. Later in life, Hepburn devoted much of her time to UNICEF, to which she had contributed since 1954. Between 1988 and 1992, she worked in some of the poorest communities of Africa,
                <br> South America, and Asia. In December 1992, she received the US Presidential Medal of Freedom in recognition of her work as a UNICEF Goodwill Ambassador. 
                <br> A month later, she died of appendiceal cancer at her home in Vaud, Switzerland at the age of 63.
                </p>
            <a href="/views/works">See Works Page</a>
        </body>
    </html>