<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="home-body">
    <h1>Audrey Hepburn</h1>
    <h3>Welcome to Audrey Hepburn's Official Website</h3>
    <p><img class="home-img" src="https://images.mubicdn.net/images/cast_member/5030/cache-6050-1526604798/image-w856.jpg?size=800x" alt="picture of Audrey Hepburn"></p>
    <br> <a href="/about">Click here to read about Audrey Hepburn</a>
  </body>
</html>