<!doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>Photo Gallery Page</title>
            <link rel="stylesheet" href="/style.css">
            </head>
            <body class="gallery-body">
                <h1>Photo Gallery Page</h1>
            <p class="gallery-p">
                <img class="gallery-img" src="http://www.marieclaire.com.au/media/81147/audrey-hepburn.jpg" alt="">
                <img class="gallery-img" src="https://pyxis.nymag.com/v1/imgs/7e5/0f0/454b6b639c9ecd1e2b00993119f6835d63-16-audrey-hepburn.2x.rsocial.w600.jpg" alt="">
                <img class="gallery-img" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/elle-givenchy-audrey-hepburn-1-1521470679.jpg?crop=1.00xw:1.00xh;0,0&resize=1200:*" alt="">
                <img src="https://hips.hearstapps.com/harpersbazaaruk.cdnds.net/15/37/2048x1024/2048x1024-audreynew1-jpg-51724ad1.jpg?resize=1200:*" alt="">
                <img src="https://images.ctfassets.net/3m6gg2lxde82/39Jqjea04ENfyFcwrGgUZh/5ffc113e4767660f85444a07ccb3b4eb/Audrey_Listicle.png?w=1200&h=630&fit=crop&f=faces&fm=jpg&q=80" alt="">
            </p>
                <a href="/home">See Home Page</a>
                </body>
                </html>