<!doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>Works Page</title>
            <link rel="stylesheet" href="/style.css">
            </head>
            <body class="body-works" >
                <h1 class="h1-works">Career</h1>
                <img src="https://www.visoanska.com/imgfck/88/Image/Blog/Portrait_Audrey_Hepburn.jpg" alt="old audrey">
                <h3>Humanitarian Career</h3>
                <p>In 1989, Hepburn was appointed a Goodwill Ambassador of UNICEF. On her appointment, she stated that she was grateful for receiving international aid
                <br> after enduring the German occupation as a child, and wanted to show her gratitude to the organisation.
                <br>Hepburn's first field mission for UNICEF was to Ethiopia in 1988. She visited an orphanage in Mek'ele that housed 500 starving children and had UNICEF send food.
                <br>In August 1988, Hepburn went to Turkey on an immunisation campaign. She called Turkey "the loveliest example" of UNICEF's capabilities. Of the trip, she said, 
                <br>"The army gave us their trucks, the fishmongers gave their wagons for the vaccines, and once the date was set, it took ten days to vaccinate the whole country.
                <br>Hepburn toured Central America in February 1989, and met with leaders in Honduras, El Salvador, and Guatemala. In April, she visited Sudan with Wolders as part of a mission
                <br> called "Operation Lifeline". Because of civil war, food from aid agencies had been cut off. The mission was to ferry food to southern Sudan.
                <br>In October 1990, Hepburn went to Vietnam, in an effort to collaborate with the government for national UNICEF-supported immunisation and clean water programmes. 
            </p>
                <p>
                <h3>Filmography</h3>
                <br>Year ||	Title	
                <br>1948 ||	Dutch in Seven Lessons		
                <br>1951 ||	One Wild Oat	
                <br>1951 ||	Laughter in Paradise		
                <br>1951 ||	The Lavender Hill Mob		
                <br>1951 ||	Young Wives' Tale		
                <br>1952 ||	Secret People	Nora Brentano		
                <br>1952 ||	Monte Carlo Baby
                <br>1953 ||	Roman Holiday		
                <br>1954 ||	Sabrina	
                <br>1956 ||	War and Peace	
                <br>1957 ||	Funny Face	
                <br>1957 ||	Love in the Afternoon	
                <br>1959 ||	Green Mansions		
                <br>1959 ||	The Nun's Story	
                <br>1960 ||	The Unforgiven		
                <br>1961 ||	Breakfast at Tiffany's		
                <br>1961 ||	The Children's Hour		
                <br>1963 ||	Charade		
                <br>1964 ||	Paris When It Sizzles		
                <br>1964 ||	My Fair Lady		
                <br>1966 ||	How to Steal a Million		
                <br>1967 ||	Two for the Road			
                <br>1967 ||	Wait Until Dark		
                <br>1976 ||	Robin and Marian		
                <br>1979 ||	Bloodline		
                <br>1981 ||	They All Laughed		
                <br>1989 ||	Always	

               </p>
                    <a href="/photo-gallery">See Photo Gallery Page</a>
            </body>
            </html>